body, h1, h2, p {
margin: 0;
padding: 0;
}
/* Global Styles */
body {
font-family: Arial, sans-serif;
line-height: 1.6;

}
header {
background-color: #333;
color: #fff;
text-align: center;
padding: 1em;
}
main {

padding: 1rem;
background-color: #726868;
}
.profile {
display: flex;
align-items: center;
}
.photo {
flex: 1;
padding: 0 2rem;
}
.photo img {
width: 250px;
height: 250px;
border-radius: 50%;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.bio {
flex: 2;
padding: 150px 0 0 0;
}
footer {
text-align: center;
padding: 1rem 0;
background-color: #333;
color: #fff;
}
/* Media Queries */
@media screen and (max-width: 768px) {
.profile {
flex-direction: column;
}}
